[package]
name = "hevc_parser"
version = "0.6.0"
authors = ["quietvoid"]
edition = "2021"
rust-version = "1.60.0"
license = "MIT"
description = "HEVC format parser, incomplete"
repository = "https://github.com/quietvoid/hevc_parser"

[dependencies]
nom = "7.1.3"
bitvec_helpers = { version = "3.1.2", default-features = false, features = ["bitstream-io"] }
anyhow = "1.0.68"

regex = { version = "1.7.1", optional = true }

[features]
hevc_io = ["regex"]
